.Input{
    display: flex;
    justify-content: center;
}
.Input__box{
    height: 75px;
    width: 890px;
    border-radius: 18px;
    margin: 20px;
    font-size: 20px;
    border: none;
}
.Input__box:focus{
    outline: none;
}
.input__btn{
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    font-size: 50px;
    color: #4ECB71;
}
.mainSection{
    margin-top: 50px;
}